
html, body {
    margin: 0;
    height: 100%;
}

.nav {
    background-color: black;
    display: block;
    position: relative;
    height: 64px;
    border-bottom: 2px solid #323232;

}
li::before, li::after {
    content: '';
}

a, li::before, li::after {
    position: absolute;
    display: inline-block;
}

.nav > ul {
    display: flex;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: -32px;
}
ul > li {
    position: relative;
    list-style: none;
    flex: 1;

    color: white;
    background-color: #323232;
}

a {
    color: inherit;
    text-decoration: none;
    left:100%;
    margin-left:-50%;
    bottom: -2px;

    font-size: 24px;
    font-weight: bold;
}

::after {
    top: 50%;
    left: 100%;
    margin-top: -5rem;
    border: 5rem solid transparent;
    border-left: 5rem solid #323232;
    z-index: 2;
}

::before {
    width: calc(100% + 5rem);
    margin-top: -1px;
    border-top: 1px solid rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    z-index: 3;
}

li::before {
    width: 100%;
    left: 5rem;
}

:nth-child(even) {
    color: black;
    background-color: #e3e3e3;
}


::after {

}

::before {
    border-top-color: rgba(0, 0, 0, .25);
    border-bottom-color: rgba(255, 255, 255, 1);
}


