.card {
    position: relative;
    display: block;
    margin: 2rem 0;
    padding: 2rem 1rem;


    &::before, &::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 20px;
        left: 0;
        background-color: black;
        background-image: radial-gradient($base-background-color 40%, transparent 45%);
        background-size: 22px;
        background-position: 0 0, 11px 11px;
    }

    &::before {
        top: -20px;
    }

    &::after {
        bottom: -20px;
    }

    & > .grid {
        display: grid;
        grid-template-columns: repeat(9999, 120px);
        column-gap: 12px;

        & > * {
            display: block;
            height: 120px;
        }
    }
}