@import 'vars';



html, body {
    margin: 0;
    height: 100%;
}

main {
    margin: 1rem;
}
html {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    font-size: 1rem;
    background-color: $base-background-color;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

.homepage-search,
 .homepage-categories,
 .details-title {
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.homepage-title {
    padding-left: 1rem;
    margin-top: 0;
}

.filter {
    margin: 1rem;
}
@import 'nav.scss';
@import 'catalogue.scss';
@import 'vars.scss';
@import 'card.scss';
@import 'details.scss'