.nav {
    display: block;
    position: relative;
    height: 64px; // we need to define the height so we are able to position things properly
    border-bottom: 2px solid #323232;

    // set same values for all used elements (just so we don't have to reapaet ourselves)
    & li::before, & li::after {
        content: '';
    }

    // same as the above
    & a, & li::before, & li::after {
        position: absolute;
        display: inline-block;
    }

    & > ul {
        display: flex;
        overflow: hidden;
        height: 100%;
        margin: 0;
        padding: 0;
        // let's move everything slightly more to the left so the first item does not have much empty space
        margin-left: -32px;

        & > li {
            position: relative;
            list-style: none;
            flex: 1;

            color: white;
            background-color: #323232;

            & > a {
                color: inherit;
                text-decoration: none;
                left:100%;
                margin-left:-50%;
                bottom: -2px;

                font-size: 24px;
                font-weight: bold;
            }
            
            // We don't need images anymore, CSS is beast
            // https://css-tricks.com/the-shapes-of-css/
            // using REM for border size so we can have the size adjust based on 
            // root font size, use EM to use elements font size
            &::after {
                top: 50%;
                left: 100%;
                margin-top: -5rem;
                border: 5rem solid transparent;
                border-left: 5rem solid #323232;
                z-index: 2; // make sure the triangle is above the other elements
            }

            &::before {
                content: '';
                width: calc(100% + 5rem); // adjust the width for the border to include the triangle
                top: 50%;
                margin-top: -1px; // move the border back up to have it in the middle
                border-top: 1px solid rgba(0, 0, 0, 1);
                border-bottom: 1px solid rgba(255, 255, 255, 0.25);
                z-index: 3; // putting the effect border top-most
            }

            & + li::before {
                width: 100%; // reset border width and push everything using the LEFT property
                left: 5rem;
            }

            &:nth-child(even) {
                color: black;
                background-color: #e3e3e3;
                &::after {
                    border-left-color: #e3e3e3;
                }

                &::before {
                    border-top-color: rgba(0, 0, 0, .25);
                    border-bottom-color: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}